@font-face {
    font-family: Monsterrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

html {

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Monsterrat;
}

ul {
    margin-right: 25px;
}

h2 {
    color: aqua;
}


a {
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: aliceblue;
}


header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    max-width: 100%;
    height: 120px;
}

.logo_div {
    text-align: center;
    cursor: pointer;
    padding: 10px 10px;
}

nav {
    margin-right: 100px;
}

.links {
    display: flex;
    gap: 60px;
}

.links li {
    list-style: none;
}

.links li :hover {
    color: aqua;
    border-bottom: 2px solid white;

}

.login {

    min-height: 25px;
    background-color: transparent;
    border: 2px solid;
    border-color: aliceblue;
    border-radius: 25px;
    padding: 10px 10px;
    transition: 0.5s;

}

.login:hover {
    padding: 15px 15px;

}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
}

.main_section {
    height: 100dvh;
    width: 100%;

}


video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: inherit;
    z-index: -1;
    object-fit: cover;
    filter: brightness(20%);
}

.promo {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;

}

.promo_text {
    max-width: 700px;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 16px;

}

.promo_text span {
    color: aqua;
}

.promo_h1 {
    color: aqua;
    font-size: 65px;
    text-align: center;
    text-transform: uppercase;
    font-family: Code;
}

.button_wrapper {

    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn1,
.btn2 {

    max-width: 200px;
    max-height: 100px;
    background: transparent;
    border: 2px solid;
    border-color: aliceblue;
    border-radius: 25px;
    padding: 10px 10px;
    margin-top: 40px;
    transition: 0.5s;

}

.btn1:hover {
    border-color: aqua;

}

.btn2:hover {
    border-color: aqua;
}

.down_img {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

.slider_section {
    max-height: 800px;
    background: url(img/black-wuuaobghtdllhliu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0 40px 0px;
}

.slider {

    max-width: 80%;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
}

.slider-line {

    display: flex;
    position: relative;
    transition: 1s;
}

.slider-line img {
    background-position: center;
    background-size: cover;
    height: 650px;

}

.slider_btn_wrapper {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;


}

.slider_btn_wrapper button {
    width: 100px;
    height: 50px;
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 30px;
    color: aqua;
}

.upcoming_events {
    min-height: 600px;
    background: url(/img/bass.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px 0 65px 0;

}

.events_header {
    height: 76px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events_text {

    text-align: center;
    font-family: Monsterrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wrapper_events {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.ticket_block {
    width: 718px;
    min-height: 104px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.line_events {
    width: 485.001px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 25px 0 25px 0;
}

.ticket_btn {
    margin-right: 20px;
    background-color: #D9D9D9;
    padding: 10px 10px 10px 10px;
    color: aqua;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    transition: 0.2s;
}

.ticket_btn:hover {
    padding: 12px 12px;

}

.text {
    width: 590px;
    color: white;
}

.upcoming_events .line {
    background-color: black;
}

.another_shows {
    min-height: 700px;
    background: url(img/blackBG.jpg);
    background-position: center;
    background-size: cover;
    padding: 0px 0 34px 0;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);

}

.shows_header {

    height: 76px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shows_h2 {
    color: aqua;
    text-align: center;
    font-family: Monsterrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shows_wrapper_1 {
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    text-align: center;

}

.shows_wrapper_1 .item a {
    margin-top: 20px;
}

.shows_img {
    height: 300px;
    width: 300px;
    margin-bottom: 10px;

}

.footer {
    height: 230px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_data {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 1250px) {
    .promo_text {
        font-style: 2px;
    }

    nav {
        margin-right: 30px;
    }

    .shows_text {
        font-size: 15px;
    }

    .promo_h1 {
        font-size: 50px;
    }

    .shows_img {
        width: 200px;
        height: 200px;

    }
}

@media screen and (max-width:1035px) {

    ul a {
        font-size: 20px;
    }

    nav {
        margin-right: 0;
    }
}

@media screen and (max-width:942px) {

 .promo_text {
    font-size: 35px;
 }


    nav {
        display: none;
    }

    video {
        display: none;
    }

    .main_section {
        background-image: url(img/mbg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(10px);
        min-height: 100vh;
    }



}

@media screen and (max-width:820px) {



    .shows_img {
        width: 150px;
        height: 150px;

    }

    nav {
        display: none;
    }

    .slider {
        border: none;
    }

    .slider-line img {
        height: 350px;
    }

}

@media screen and (max-width:720px) {
    a {
        font-size: 20px;
    }

    .ticket_block {
        width: 500px;
    }

    .shows_h2 {
        font-size: 20px;
    }

    .slider-line img {
        height: 350px;
    }

}

@media screen and (max-width:680px) {
    a {
        font-size: 18px;
    }

    .promo_h1 {
        font-style: 35px;
    }

    .shows_img {
        width: 150px;
        height: 100px;

    }

    .shows_wrapper_1 {
        flex-direction: column;
    }


}

@media screen and (max-width:540px) {
    .promo_text {
        font-size: 25px;
    }
}

@media screen and (max-width:515px) {
    a {
        font-size: 16px;
    }

    .ticket_block {
        width: 400px;
    }

    .events_text {
        font-size: 16px;
    }

    .slider-line img {
        height: 250px;
    }

    .promo_h1 {
        font-size: 35px;
    }


}

@media screen and (max-width:400px) {
    .promo_text {
        font-size: 21px;
    }


    .ticket_block {
        width: 300px;
        font-size: 12px;
    }


}


@media screen and (max-width:280px) {
    .ticket_btn {
        font-size: 10px;
    } 
    .ticket_block {
        width: 275px;
    }
    .promo_h1 {
        font-size: 30px;

    }

    .promo_text {
        font-size: 15px;
    }


   a {
    font-size: 12px;
   }
}
@media screen and (max-height:600px) {
    .promo_text {
        font-size: 25px;
    }
}
